body {
    margin: 0 0 0 0;
    overflow: hidden;
    /* background-color: cornflowerblue; */
}

canvas {
    margin: 0 0 0 0;
    /* border: 2px solid black; */
}

#canvasContainer {
    margin: 0 0 0 0;
    text-align: center;
}
